/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.widget.widget_keensalon_recent_post ul li {
  overflow: hidden;
  margin-bottom: 15px; }

.widget.widget_keensalon_recent_post ul li .media a {
  display: block; }

.widget.widget_keensalon_recent_post ul li .media img {
  width: 100%;
  transition: 0.3s; }

.widget.widget_keensalon_recent_post ul li .text {
  overflow: hidden; }

.widget.widget_keensalon_recent_post ul li .text .title {
  padding: 8px;
  color: #000;
  display: block;
  font-weight: 700;
  background: #FFF;
  margin-bottom: 5px; }

.widget.widget_keensalon_recent_post ul li .text .date {
  color: #B6A879;
  padding: 8px;
  font-size: 12px;
  font-weight: 400; }

.widget.widget_keensalon_recent_post ul li:hover .media img, .widget.widget_keensalon_recent_post ul li:focus .media img {
  transform: scale(1.2) rotate(-5deg); }

.widget.widget_keensalon_recent_post ul li:hover .title, .widget.widget_keensalon_recent_post ul li:focus .title {
  color: #FFF;
  background: #B6A879; }

/*** Featured */
.featured-item .icon {
  margin-right: 20px; }

.featured-item .text {
  overflow: hidden; }

.featured-item .text .title {
  margin-bottom: 5px;
  text-transform: uppercase; }

.featured-item .text .title p {
  margin: 0;
  font-size: 12px;
  line-height: 18px; }

/*** Section title */
.section-title .title {
  font-family: "Abril Fatface", cursive; }

.section-title p {
  margin-top: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

/* Special Gift Card */
.special-gift-card {
  background: #E8EDDF;
  padding: 100px 0 20px; }

.special-gift-card .section-title {
  margin-bottom: 60px; }

.special-gift-card .special-card {
  padding: 40px;
  height: 450px;
  background: #FEE0D8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom; }

.special-gift-card .special-card:nth-child(odd) {
  background-color: #000; }

.special-gift-card .special-card:nth-child(odd) p {
  color: #FFF; }

.special-gift-card .special-card .title {
  color: #B6A879;
  font-weight: 400;
  font-family: "Abril Fatface", cursive; }

.special-gift-card .special-card p {
  font-size: 18px;
  font-weight: 500;
  max-width: 290px;
  line-height: 30px;
  font-family: "Rufina", serif;
  letter-spacing: 0.9px; }
